div{
  width: 400px;
  height: 200px;
  background-color: #7aa874;
  background-image: url("https://images.unsplash.com/photo-1695122454168-e5eae938189e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
  /* background-size: contain; */
  /* background-size: auto; */
  background-size: cover;
}