h1{
  color: #ffffff;
  background-color: black;
}

h2{
  /* background-color: rgb(255,150,0); */
  background-color: #ff9900;
}

h3{
  /* background-color: rgb(0,180,255); */
  background-color: #00b4ff;
}